<h1>Update Figure</h1>

<form action="/figures/<%=@figure.id%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <h1><%= @figure.name %></h1>

  <h4>Update Name:</h4>
  <input type="text" name="figure[name]" id="figure_name">

  <br></br>

  <label>Choose an existing pet:</label>

  <br></br>

  <%Pet.all.each do |pet|%>
    <input type="checkbox" name="owner[pet_ids][]" id="<%= pet.id%>" value="<%=pet.id%>" <%='checked' if @owner.pets.include?(pet) %>><%=pet.name%></input>
  <%end%>

  <br></br>

  <label>and/or, create a new pet:</label>
  <br></br>
  <label>name:</label>
    <input  type="text" name="pet[name]" id="pet_name"></input>
  <br></br>
  <input type="submit" value="Update Owner">
</form>