<h1>Create a New Figure</h1>

<form action="/figures" method="POST">
  <h4>Name:</h4>
    <input type="text" name="figure[name]" id="figure_name">
  <br></br>

  <h4>Choose a Title</h4>

  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"><%=title.name%></input>
    <br></br>
  <% end %>

  <h4>Or Create a New Title</h4>
  <p>Title: <input type="text" name="title[name]"></p><br>

  <h4>Choose a Landmark</h4>

  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"><%=landmark.name%></input>
    <br></br>
  <%end%>


  <h4>Or Create New Landmark</h4>

  <p>Name: <input type="text" name="landmark[name]"></p>
  <p>Year Built: <input type="text" name="landmark[year]"></p>
  

  <input type="submit" value="Create New Figure">

</form>
